---
import styles from "./services.module.scss";
import Button from "@components/CTA/Button.astro";

import FreightService from "../svgs/FreightService.astro";
import ImportClearing from "../svgs/ImportClearing.astro";
import LiasonService from "../svgs/LiasonService.astro";
import Logistics from "../svgs/Logistics.astro";
import Transportation from "../svgs/Transportation.astro";
import Warehousing from "../svgs/Warehousing.astro";

const services = [
	{
		title: "IMPORT CLEARING",
		// image: <ImportClearing />,
		link: "/services/freight-forwarding/air-and-sea-cargo-consolidation",
	},
	{
		title: "LIASON SERVICE",
		// image: <LiasonService />,
		link: "/services/custom-clearance/customs-brokerage",
	},
	{
		title: "FREIGHT SERVICES",
		// image: <FreightService />,
		link: "/services/freight-forwarding/freight-forwarding",
	},
	{
		title: "LOGISTICS",
		// image: <Logistics />,
		link: "/services/custom-clearance/project-and-odd-dimensional-cargo-and-break-bulk-logistics",
	},
	{
		title: "WAREHOUSING",
		// image: <Warehousing />,
		link: "/services/others/cold-chain-warehousing-and-dg-warehousing",
	},
	{
		title: "TRANSPORTATION",
		// image: <Transportation />,
		link: "/services/others/international-express-courier-services",
	},
];
---

<div class={`container ${styles.container}`}>
	<div class={styles.heading}>
		<h2>
			<span class="accent">Services Offered</span> to our Clients
		</h2>
	</div>

	<div class={styles.text}>
		<h3>Tailored Solutions for Every Business</h3>

		<p>
			Our client-centric approach drives us to deliver personalized
			solutions that align with the unique requirements of each business.
			With our expertise and resources, we offer consultancy services,
			project management, and continuous support to maximize efficiency
			and drive sustainable growth.
		</p>
	</div>

	<div class={styles.services_parent}>
		<div class={styles.services}>
			{
				services.map((service) => {
					return (
						<div class={styles.service_item}>
							<a
								href={service.link}
								data-icon={service.title.toLowerCase()}
							>
								{function () {
									switch (service.title) {
										case "IMPORT CLEARING":
											return <ImportClearing />;
										case "LIASON SERVICE":
											return <LiasonService />;
										case "FREIGHT SERVICES":
											return <FreightService />;
										case "LOGISTICS":
											return <Logistics />;
										case "WAREHOUSING":
											return <Warehousing />;
										case "TRANSPORTATION":
											return <Transportation />;
									}
								}}

								<span class="accent">{service.title}</span>
							</a>
						</div>
					);
				})
			}
		</div>
	</div>

	<div class={styles.action}>
		<Button />
	</div>
</div>
