---
import styles from "./about.module.scss";
import {Icon} from "astro-icon/components"

let about = [
    {
        img:"./about_us.svg",
        name: "Aditya",
        postion: "Director, Company Name",
        para: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In commodo a tortor eu gravida. Quisque in tincidunt ligula. Etiam placera Lorem ipsum dolor sit amet, consectetur adipiscing elit. In commodo a tortor eu gravida. Quisqu iLorem ipsum dolor sit amet, consectetur adipiscing elit. I commodo a tortor eu gravida. Quisque in tincidunt ligula. Etiam placera Lorem ipsum dolor sit amet, consectetur adipiscing elit. In commodo a tortor eu gravida. Quisque i",
    },
    {
        img:"./about_us.svg",
        name: "Aditya Mohan",
        postion: "Director, Company Name",
        para: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In commodo a tortor eu gravida. Quisque in tincidunt ligula. Etiam placera Lorem ipsum dolor sit amet, consectetur adipiscing elit. In commodo a tortor eu gravida. Quisqu iLorem ipsum dolor sit amet, consectetur adipiscing elit. I commodo a tortor eu gravida. Quisque in tincidunt ligula. Etiam placera Lorem ipsum dolor sit amet, consectetur adipiscing elit. In commodo a tortor eu gravida. Quisque i",
    },
    {
        img:"./about_us.svg",
        name: "Aditya",
        postion: "Director, Company Name",
        para: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In commodo a tortor eu gravida. Quisque in tincidunt ligula. Etiam placera Lorem ipsum dolor sit amet, consectetur adipiscing elit. In commodo a tortor eu gravida. Quisqu iLorem ipsum dolor sit amet, consectetur adipiscing elit. I commodo a tortor eu gravida. Quisque in tincidunt ligula. Etiam placera Lorem ipsum dolor sit amet, consectetur adipiscing elit. In commodo a tortor eu gravida. Quisque i",
    }
];
---

<div class={`container ${styles.container}`}>
	<div class={styles.heading}>
		<h2>What are People <span class="accent">thinking</span> about us?</h2>
	</div>
	<div class={styles.carousel} id="carousel">
     {   about.map((item) => {
            return (
            <div class={styles.item}>
			<div>
				<img src={item.img} alt="img" />
			</div>
			<div class={styles.name}>
				<p><span class="accent">{item.name} </span></p>
				<p>{item.postion}</p>
			</div>
			<div class={styles.para}>
				<div>
					<img src="./open.svg" alt='"' />
				</div>
				<p>
					{item.para}
				</p>
				<div class={styles.close}>
					<img src="./close.svg" alt='"' />
				</div>
			</div>
		</div>
            );
        })}
	
	</div>
	<div class={styles.button}>
		<button class="prev"><Icon name="fa6-solid:arrow-left-long"/></button>
		<button class="next"><Icon name="fa6-solid:arrow-right-long"/></button>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", () => {
		console.log("DOM fully loaded and parsed");

		const carousel = document.getElementById("carousel");
		if (!carousel) {
			console.error("Carousel element not found");
			return;
		}

		const getScrollAmount = () => {
			// Adjust the scroll amount based on the carousel width or viewport width
			const carouselWidth = carousel.offsetWidth;
			return carouselWidth * 1; // 80% of the carousel width or a max of 500px
		};

		const handleNextClick = () => {
			carousel.scrollLeft += getScrollAmount();
		};

		const handlePrevClick = () => {
			carousel.scrollLeft -= getScrollAmount();
		};

		const nextButton = document.querySelector(".next");
		const prevButton = document.querySelector(".prev");

		if (nextButton && prevButton) {
			nextButton.addEventListener("click", handleNextClick);
			prevButton.addEventListener("click", handlePrevClick);
		} else {
			console.error("Next or Previous button not found");
		}
	});
</script>
